:ruby
  set_meta_tags title: t("dragon.dragons"), description: t("dragon.description"), keywords: t("dragon.keywords")
  lo = Layout.new({xs: [4,4,4]}).to_a
  inputs = [
    [:name,   t("dragon.name"),   :text,   lo[0], size: 16, placeholder: t("dragon.name")],
    [:gender, t("dragon.gender"), :select, lo[1], menu: dragon_gender_menu(params[:gender])],
    [:order,  t("order"),         :select, lo[2], menu: dragon_order_menu(params[:order])],
  ]

.row
  %div{class: center(xl: 6, lg: 8, md: 8, sm: 10)}
    %section
      .header.text-center
        %h3.d-inline= t("dragon.dragons")
      .body
        .small.text-center= t("dragon.description")
        .small.text-center= t("dragon.explanation")
        %hr
        = render "utils/search/form", index: dragons_path, inputs: inputs
        .row
          %div{class: center(lg: 6, md: 8, sm: 10)}
            = turbo_frame_tag :results, "data-turbo-action" => "advance" do
              %table{class: "table table-bordered table-striped table-sm mt-3"}
                %thead
                  %tr
                    %th= t("dragon.name")
                %tbody
                  = render "results", dragons: @dragons
