- set_meta_tags title: t("dragon.dragons"), description: t("dragon.description"), keywords: t("dragon.keywords")

:ruby
  inputs = [
    [:name,   t("dragon.name"),   :text_field, size: 16, value: params[:name], placeholder: t("dragon.name")],
    [:gender, t("dragon.gender"), :select,     menu: dragon_gender_menu(params[:gender])],
    [:order,  t("order"),         :select,     menu: dragon_order_menu(params[:order])],
  ]

.row
  %div{class: center(xl: 6, lg: 8, md: 8, sm: 10)}
    %section
      .header.text-center
        %h3.d-inline= t("dragon.dragons")
      .body
        .small.text-center= t("dragon.description")
        .small.text-center= t("dragon.explanation")
        %hr
        = render "utils/search/form", index: dragons_path, inputs: inputs
        .row
          %div{class: center(lg: 6, md: 8, sm: 10)}
            %table{class: "table table-bordered table-striped table-sm mt-3"}
              %thead
                %tr
                  %th= t("dragon.name")
              %tbody#results
                = render "results", dragons: @dragons
