- set_meta_tags title: t("session.sign_in"), description: t("session.description"), keywords: t("session.keywords")

.row
  %div{class: center(xl: 4, lg: 5, md: 6, sm: 7, xs: 8)}
    = form_with url: session_path, local: true, html: { class: "crud" } do |f|
      %section
        .header
          %h3= t("session.sign_in")
        .body
          .mb-3= render "utils/crud/text", form: f, label: t("user.handle"), param: :handle
          .mb-3= render "utils/crud/password", form: f, label: t("user.password")
        .footer
          .text-center
            = f.submit t("session.sign_in"), class: "btn btn-primary"
            = link_to t("cancel"), root_path, class: "btn btn-secondary"
