- defined?(home) || home = false

.card{class: "border-dark mb-3"}
  .card-header
    %h3.d-inline{class: blog.draft ? "text-danger" : ""}= blog_title_with_draft(blog)
    .float-right.mt-1
      - unless home
        - if can?(:edit, blog)
          = link_to t("edit"), edit_blog_path(blog), class: "btn btn-info"
        - if can?(:pin, blog)
          = link_to pin_blog_text(blog), pin_blog_path(blog), class: "btn btn-info", id: "pin_button", remote: true
      = blog.created_at.strftime('%b %e %Y')
  - if home
    .card-body
      ~ blog.summary_html
    - if blog.story.present?
      .card-footer
        = link_to t("blog.more"), blog
  - else
    .card-body
      ~ blog.story_html
    .card-footer.small
      - if blog.user.present?
        = t("blog.author")
        = succeed(",") do
          = blog.user.handle
      = blog.user.present? ? t("created_at").downcase : t("created_at")
      = time_ago_in_words(blog.created_at)
      = succeed(",") do
        = t("ago")
      = t("updated_at").downcase
      = time_ago_in_words(blog.updated_at)
      = succeed(".") do
        = t("ago")
