:ruby
  set_meta_tags title: t("blog.blogs"), description: t("blog.description"), keywords: t("blog.keywords")
  co =
    if current_user.guest?
      {xs: [4,4], sm: [4,3], lg: [2,2]}
    else
      {xs: [5,4,3], sm: [4,3,3], lg: [2,2,2]}
    end
  lo = Layout.new(co).to_a
  inputs = [
    [:query, t("query"), :text,   lo[0], size: 16],
    [:order, t("order"), :select, lo[1], menu: blog_order_menu(params[:order])],
  ]
  unless current_user.guest?
    inputs.insert 1, [:user_id, t("blog.author"), :select, lo[2], menu: blog_user_menu(params[:user_id])]
  end

%section
  .header{class: "#{can?(:create, Blog) ? '' : 'text-center'}"}
    %h3.d-inline= t("blog.blogs")
    - if can?(:create, Blog)
      .float-end.mt-1= link_to t("blog.new"), new_blog_path, class: "btn btn-primary btn-sm"
  .body
    = render "utils/search/form", index: blogs_path, inputs: inputs
    = turbo_frame_tag :results, "data-turbo-action" => "advance" do
      %table{class: "table table-bordered table-sm mt-3"}
        %thead
          %tr
            %th= t("blog.title")
            %th.d-none.d-lg-table-cell= t("blog.summary")
            - unless current_user.guest?
              %th.d-none.d-sm-table-cell.text-center= t("blog.pin")
              %th.d-none.d-sm-table-cell.text-center= t("blog.draft")
              %th.d-none.d-sm-table-cell.text-center= t("blog.author")
            %th.text-center= t("created")
            %th.d-none.d-md-table-cell.text-center= t("updated")
        %tbody
          = render "results", blogs: @blogs
