- set_meta_tags title: t("blog.blogs"), description: t("blog.description"), keyswords: t("blog.keywords")

%section
  .header
    %h3
      = t("blog.blogs")
      - if can?(:create, Blog)
        .float-right.small= link_to t("blog.new"), new_blog_path, class: "btn btn-info"
  .body
    = form_tag blogs_path, method: :get, remote: true, class: "form-inline justify-content-center mt-3" do
      = label_tag :query, t("query"), class: "sr-only"
      = text_field_tag :query, params[:query], class: "form-control mr-1 mb-1", placeholder: t("query"), size: 16
      = label_tag :order, t("order"), class: "sr-only"
      = select_tag :order, blog_order_menu(params[:order]), class: "form-control mr-1 mb-1 auto-submit"
      = button_tag t("search"), type: "submit", class: "btn btn-success mb-1"
    %table{class: "table table-bordered table-striped table-sm mt-3"}
      %thead
        %tr
          %th= t("blog.title")
          %th.d-none.d-md-table-cell= t("blog.summary")
          %th.text-center= t("blog.author")
          %th.text-center.d-none.d-lg-table-cell= t("created_at")
          %th.text-center.d-none.d-lg-table-cell= t("updated_at")
      %tbody#results
        = render "results", blogs: @blogs
