:ruby
  inputs = [
    [:query, t("query"), :text_field, size: 16],
    [:order, t("order"), :select,     menu: blog_order_menu(params[:order])],
  ]
  unless current_user.guest?
    inputs.insert 1, [:user_id, t("blog.author"), :select, menu: blog_user_menu(params[:user_id])]
  end
  set_meta_tags title: t("blog.blogs"), description: t("blog.description"), keywords: t("blog.keywords")

%section
  .header
    %h3.d-inline= t("blog.blogs")
    - if can?(:create, Blog)
      .float-right.small= link_to t("blog.new"), new_blog_path, class: "btn btn-info"
  .body
    = render "utils/search/form", index: blogs_path, inputs: inputs
    %table{class: "table table-bordered table-striped table-sm mt-3"}
      %thead
        %tr
          %th= t("blog.title")
          %th.d-none.d-lg-table-cell= t("blog.summary")
          - unless current_user.guest?
            %th.d-none.d-sm-table-cell.text-center= t("blog.author")
          %th.text-center= t("created")
          %th.d-none.d-md-table-cell.text-center= t("updated")
      %tbody#results
        = render "results", blogs: @blogs
