- set_meta_tags title: @blog.title

- if can?(:edit, Blog)
  = content_for :javascript do
    = render "markdown_button.js"

%article
  .header
    %h3.d-inline
      = @blog.title
      = render "title_icons", blog: @blog
    .float-right.mt-1
      = @blog.created_at.strftime('%b %e %Y')
  .body
    ~ @blog.story_html
  .footer
    = link_to t("blog.blogs"), last_path(:blogs), class: "btn btn-success btn-sm"
    - if can?(:edit, Blog)
      = link_to t("blog.markdown"), "#", id: "toggle_markdown", class: "btn btn-success btn-sm"
      = link_to t("edit"), edit_blog_path(@blog), class: "btn btn-info btn-sm"
    .float-right.small.mt-1
      = render "utils/misc/user_stamp", object: @blog

- if can?(:edit, Blog)
  %pre.markdown= @blog.summary
  %pre.markdown= @blog.story
