- set_meta_tags title: @blog.title

- if can?(:edit, Blog)
  = content_for :javascript do
    = render "markdown_button.js"

%article
  .header
    %h3.d-inline
      = @blog.title
      = render "title_icons", blog: @blog
    .float-right.mt-1
      - if can?(:edit, @blog)
        = link_to t("edit"), edit_blog_path(@blog), class: "btn btn-info"
      = @blog.created_at.strftime('%b %e %Y')
  .body
    ~ @blog.story_html
  .footer
    .small
      - if @blog.user.present?
        = t("created_by", name: @blog.user.handle)
      - else
        = t("created")
      = time_ago_in_words(@blog.created_at)
      = succeed(",") do
        = t("ago")
      = t("updated").downcase
      = time_ago_in_words(@blog.updated_at)
      = succeed(".") do
        = t("ago")
      - if can?(:edit, Blog)
        .float-right
          = link_to t("blog.icon.book"), "#", id: "toggle_markdown"

- if can?(:edit, Blog)
  %pre.markdown= @blog.summary
  %pre.markdown= @blog.story
