- set_meta_tags title: @blog.title

- html, fens = @blog.story_html

= content_for :javascript do
  = render partial: "boards", formats: :js, locals: { fens: fens }
  - if can?(:edit, Blog)
    = render partial: "markdown_button", formats: :js

- if @blog.tag
  %p.text-center
    %button.btn.btn-light.btn-sm
      - if @prev
        = link_to t("blog.prev"), @prev, class: "badge text-bg-light"
      - else
        .badge.text-bg-light= t("blog.none")
      = t("blog.tags.#{@blog.tag}")
      - if @next
        = link_to t("blog.next"), @next, class: "badge text-bg-light"
      - else
        .badge.text-bg-light= t("blog.none")

%article
  .header
    %h3.d-inline
      = @blog.title
    .float-end.mt-1
      = title_icons(@blog)
      = @blog.created_at.strftime("%b %e %Y")
  .body
    = render "story", html: html
  .footer
    = link_to t("blog.blogs"), last_path(:blogs), class: "btn btn-success btn-sm"
    - if can?(:edit, Blog)
      = link_to t("blog.markdown"), "#", id: "toggle_markdown", class: "btn btn-success btn-sm"
    - if can?(:edit, @blog)
      = link_to t("edit"), edit_blog_path(@blog), class: "btn btn-primary btn-sm"
    .float-end.small.mt-1
      = render "utils/misc/user_stamp", object: @blog, show_author: true

- if can?(:edit, Blog)
  %pre.markdown= @blog.summary
  %pre.markdown= @blog.story
