- title = t("user.thing", handle: @user.handle)
- set_meta_tags title: title

.row
  %div{class: center(xl: 4, lg: 6, md:8, sm: 10)}
    %section
      .header
        %h3
          = title
          - if can?(:edit, @user)
            .float-right.small= link_to t("edit"), edit_user_path(@user), class: "btn btn-info"
      .body
        %table{class: "table table-bordered mt-3"}
          %tbody
            %tr
              %th= t("user.name")
              %td= @user.name
            %tr
              %th= t("user.roles.roles")
              %td= user_roles(@user)
            %tr
              %th= t("created")
              %td
                = time_ago_in_words(@user.created_at)
                = t("ago")
            %tr
              %th= t("updated")
              %td
                = time_ago_in_words(@user.updated_at)
                = t("ago")
