- title = t("user.thing", handle: @user.handle)
- set_meta_tags title: title

.row
  %div{class: center(xl: 4, lg: 6, md:8, sm: 10)}
    %section
      .header.text-center
        %h3.d-inline= title
      .body
        %table{class: "table table-bordered mt-3"}
          %tbody
            %tr
              %th= t("user.name")
              %td= @user.name
            %tr
              %th= t("user.roles.roles")
              %td= user_roles(@user)
            %tr
              %th= t("otp.otp")
              %td
                = otp_required(@user)
                = otp_active(@user)
            %tr
              %th= t("created")
              %td
                = time_ago_in_words(@user.created_at)
                = t("ago")
            %tr
              %th= t("updated")
              %td
                = time_ago_in_words(@user.updated_at)
                = t("ago")
      .footer
        = link_to t("user.users"), users_path, class: "btn btn-success btn-sm"
        - if can?(:edit, @user)
          = link_to t("edit"), edit_user_path(@user), class: "btn btn-primary btn-sm"
