- defined?(updated) || updated = true
- defined?(show_author) || show_author = !current_user.guest?

- if object.user.present? && show_author
  = t("created_by", name: object.user.handle)
- else
  = t("created")
= time_ago_in_words(object.created_at)
= succeed(updated ? "," : ".") do
  = t("ago")
- if updated
  = t("updated").downcase
  = time_ago_in_words(object.updated_at)
  = succeed(".") do
    = t("ago")
