%h4= "Contents"

%ul
  %li= help_link :game_controls
  %li= help_link :book_search
  %li= help_link :get_login
  %li= help_link :otp
  %li= help_link :create_news
  %li= help_link :update_news
  %li= help_link :add_position
  %li= help_link :add_image
  %li= help_link :add_table
  %li= help_link :create_game
  %li= help_link :house_style

= help_section :game_controls

%ul
  %li
    make a move with the
    = t("game.controls.move")
    button or right-arrow-key
  %li
    undo one move with the
    = t("game.controls.undo")
    button or left-arrow-key
  %li
    go to the end with the
    = t("game.controls.end")
    button or e-key
  %li
    go to the start with the
    = t("game.controls.start")
    button or s-key
  %li
    flip the board with the
    = t("game.controls.flip")
    button or o-key
  %li
    show moves if they're hidden with the
    %em= t("game.show_moves")
    button or m-key
  %li
    go to any position by clicking in the list of moves

= help_section :book_search

%p
  The search controls are fairly self-explanatory with the exception of:
%ul
  %li
    %b= t("book.year")
    as well as specifying an exact publication year (e.g. "2019") it is also possible to
    specify ranges (e.g. "2000-2010"), or limits (e.g. ">2015" or "<=1996")
  %li
    %b= t("book.borrowers")
    if the word "ALL" is entered here, then instead of searching for specific book
    borrowers by name, this will match all borrowers (i.e. the result will be all
    borrowed books)

= help_section :get_login

%p
  To become a registered user of the site you need to acquire a username and password
  from the webmaster (whose contact details are on the
  = link_to t("player.contact.contacts"), contacts_players_path
  page). The different types of users are as follows:
%ul
  %li
    %b= t("user.roles.member")
    can view the contact details of all players (whereas ordinary visitors to the
    site can only see the contact details of the principals - president, treasurer,
    team captains etc)
  %li
    %b= t("user.roles.blogger")
    can create news items and games and edit those they have previously created themselves
  %li
    %b= t("user.roles.librarian")
    manages the information we keep on our book collection
  %li
    %b Administrator
    manages everything else (players, contacts, users, images) and
    can modify anything the other users create

= help_section :otp

%p
  Starting in early 2022, some login accounts for this website will
  require a one-time password (OTP) in addition to a username and
  regular password in order to sign in. On their first login attempt
  such users will be prompted to setup a secret key using Google
  Authenticator (or some other compatible application) by scanning
  a QR code and verifying a OTP from the app. Then, on subsequent
  login attempts, a new OTP from the same app will need to be entered.
%p
  If you lose your secret key (e.g. the phone where you have the
  authenticator app is lost or stolen) then ask the webmaster to
  reset your account so you can go through the setup process again.
%p
  For convenience you can also setup your secret key in the browser
  you normally use and/or in a password manager.

= help_section :create_news

%ul
  %li= t("session.sign_in").downcase
  %li
    click
    %b= t("blog.blogs")
  %li
    click
    %b= t("blog.new")
  %li
    fill in
    %ul
      %li
        %b= t("blog.title")
        keep this short and snappy
      %li
        %b= t("blog.summary")
        keep this fairly short so it will fit on the home page
      %li
        %b= t("blog.story")
        (optional) this is where you put the bulk of your news item unless it's very short
      %li
        %b= t("blog.draft")
        leave this checked at first to keep the item off the home page until it's ready
  %li
    if you need to make any corrections, then
    %ul
      %li
        click
        %b= t("edit")
      %li make corrections
      %li
        click
        %b= t("save")
  %li
    when your item is ready for publishing, then
    %ul
      %li
        click
        %b= t("edit")
      %li
        uncheck
        %b= t("blog.draft")
      %li
        click
        %b= t("save")
%p
  Note that the
  = t("blog.summary")
  and
  = t("blog.story")
  are written in
  = succeed(".") do
    = link_to "Markdown", "https://en.wikipedia.org/wiki/Markdown", target: "external"
  If there are any features you're unsure how to write (in practice, the only tricky
  things are tables), the easiest thing to do is see how someone else has done it.
  To view the raw Markdown of any other news item:
%ul
  %li
    click
    %b= t("blog.blogs")
  %li click on the title of the news item with the feature you're interested in
  %li
    click
    %b= t("blog.markdown")
    (this button is in the bottom left and you need to be signed in to use it)
%p
  To link to another blog, first find out it's ID number and then
  insert a link something like the following example:
%pre
  [this previous news item](/blogs/2)
%p
  Similarly, for a game (see
  = succeed("),") do
    = help_link(:create_game)
  first find out its ID and then insert something like:
%pre
  [this great game](/games/3)
%p
  If you want the game to start in a position other than the one before the first move,
  then add a move number like this:
%pre
  [this great move](/games/3?move=42)
%p
  This should be the half-move number and when the game is displayed the position will be the
  one just after this move.

= help_section :update_news

%ul
  %li= t("session.sign_in").downcase
  %li
    click
    %b= t("blog.blogs")
  %li
    click the name of an item belonging to you that you want to edit
  %li
    click
    %b= t("edit")
  %li make updates
  %li
    click
    %b= t("save")
%p
  The home page lists all items not yet marked as
  %b= t("blog.pin")
  in last-updated order. So, when you make a change to such an item it
  will automatically appear at the top of the home page, since it will
  now be the most recently updated one.
%p
  When you mark an item as
  %b= t("blog.pin")
  then, irrespective of whether it has recently been edited, it will
  normally no longer appear on the home page at all. The exception is
  when there are only a small number of non-old items remaining.
  In that case, the last few items on the home page will be old ones
  in last-created order, so your updated item may still appear.

= help_section :add_position

%p
  To add a chess position to a news item, include something like the following in your markdown on a
  single line on it's own:
%pre
  FEN "8/6k1/4KpPp/5P2/8/8/8/8 w - - 0 1"
%p
  This isn't actually markdown, it's a special notation which is dealt with separately.
  As you can see, it's a
  = link_to "FEN", "https://en.wikipedia.org/wiki/Forsyth%E2%80%93Edwards_Notation", target: "external"
  string, a bit like one of the tag pairs in a
  = link_to "PGN", "https://en.wikipedia.org/wiki/Portable_Game_Notation", target: "external"
  game but without the square brackets.
%p
  You can have as many positions as you like but they must all go in the
  %b= t("blog.story")
  section and not the
  %b= t("blog.summary")
  section (where they would be ignored), as the latter needs to be kept short.
%p
  By default the rendered boards are oriented with respect to white and have no rank or file markings.
  If you want to reverse the orientation or add markings (perhaps because the position is such that
  it's difficult to determine which side is playing up the board) add a single character to the FEN
  string as follows:
%ul
  %li
    %b w
    white orientation, no markings (same as default)
  %li
    %b b
    black orientation, no markings
  %li
    %b W
    white orientation, with markings
  %li
    %b B
    black orientation, with markings
%p
  For example, here's how the above example position would be modified to reverse the orientation
  and add markings:
%pre
  FEN "8/6k1/4KpPp/5P2/8/8/8/8 w - - 0 1 B"

= help_section :add_image

%p
  To add an image to a news item, send the image to the webmaster and then either (a) ask them
  to add it for you or (b) request a unique filename for the image so you can add it yourself.
  In the latter case, insert something like the following example into your markdown:
%pre
  ![this is a great photo](photo1.jpg "250R")
%p
  The text inside the square brackets is for assitive technologies and doesn't normally display.
  The image filename (supplied to you by the webmaster) goes after the opening parenthesis.
  The text in quotes is optional and in regular markdown would be used to give the image a
  title but, in this application, is used instead to place and resize the image according
  to the following rules:
%ul
  %li
    By default, the image will be centered but if the letter R (or L) appears,
    it will instead be floated to the right (or left).
  %li
    By default, the image width will be resized to 300 pixels, but if a number
    between 100 and 300 appears then this will be the width, or if a number between
    10 and 100 appears followed by a percent sign, then the width will be this
    fraction of the news item width.
%p
  When deciding how wide to make your image, remember that it has to display on
  both very large screens (1000's of pixels) and very small ones (a few 100 pixels).

= help_section :add_table

%p
  Suppose a news item is about a tournament and round results are recorded
  using markdowm tables with rows like these:
%pre
  |White|:-:|Black|
  |Donkin, C.|1-0|Donkin, A.|
  |Poots, D.|[½-½](/games/123)|Nimmo, H.|
%p
  or using lists with items like these (note the mandatory commas before and after each result):
%pre
  * Donkin, C., 1-0, Donkin, A.
  * Poots, D., [½-½](/games/123), Nimmo, H.
%p
  In this case a tournament table can be inserted automatically by
  including the following macro somewhere in either the summary or story:
%pre
  _TABLE_
%p
  This macro should be on it's own on one line. As results are added, the table
  automatically updates. The tie breaker rule used for ranking is Sonneborn–Berger.
  For the results of games that have not yet finished use "?-?".
  It's okay to link results (as illustrated above) but not player names.
%p
  Be careful to spell players' names consistently in results tables.
  Names such as "Donkin, C.", "Donkin, Chris" and "Chris Donkin" will
  look like 3 different players to the algorithm that constructs the table.
  Anything in brackets, such as a rating, current score, federation or club,
  will be stripped out. For example, the names extracted from "Donkin, C. (2000)" and
  "Donkin, C. (2½)", "Donkin, C. (SCO)" and "Donkin, C. (WD)" will all be "Donkin, C.".
%p
  Please note that only one such table macro should be included per news item.
%p
  By adding lower case letters to the end of the macro (between the letter E and the
  final underscore) you can control some details of the table display. For example:
%pre
  _TABLEgx_
%p
  Currently, the available options are:
%dl
  %ul
    %li
      <b>x</b>: Display individual scores between players (i.e. a cross table).
      As this may make the table quite wide, be aware that it may be partially
      hidden on devices with a small screen width (e.g. an iPhone).
    %li
      <b>g</b>: Suppress displaying the number of games played for each player.
      Once a tournament is over (and assuming each player has played the same number
      of games) it would be redundant to include it, but until the tournament is
      finished, this information could be useful.
    %li
      <b>t</b>: Suppress displaying the tie break score for each player.
      If no players have the same score, this information is not needed.
%p
  To display extra information about any or all players in the final table, such
  as rating or federation, supply a pipe-separated list of equal-separated name-value
  pairs after the final underscore. For example:
%pre
  _TABLE_Donkin, A.=1600|Donkin, C.=2000|Nimmo, H.=1500|Poots, D.=1500
%p
  In this example, the given ratings would appear in brackets after each player‘s name.
  Once again, it‘s important to spell names precisley for this to work.
%p
  The equals signs must be included, even if there is no extra information for the players.
  This permits an easy way to indicate players who have yet to play any games. For example:
%pre
  _TABLE_Crorie, I.=|Ferguson, A.=
%p
  would add two extra players with the given names to the table who have yet to play any games
  and, in this case, with no extra information in brackets after their names (since there is
  nothing after the equals signs). Once such players have one or more results recorded, you
  could delete thier names from this list.

= help_section :create_game

%p
  For this you need to have a
  = link_to "PGN", "https://en.wikipedia.org/wiki/Portable_Game_Notation", target: "external"
  file of the game.
%ul
  %li= t("session.sign_in").downcase
  %li
    click
    %b= t("game.games")
  %li
    click
    %b= t("game.new")
  %li
    fill in
    %ul
      %li
        %b= t("game.title")
        you can leave this blank and let the system guess it from information in the PGN
      %li
        %b= t("game.pgn")
        copy and paste from your file
      %li
        %b= t("game.difficulty")
        only for problems and studies (PGN files with a non-initial
        = succeed(").") do
          = link_to "FEN", "https://en.wikipedia.org/wiki/Forsyth%E2%80%93Edwards_Notation", target: "external"
  %li
    if you need to make any corrections, then
    %ul
      %li
        click
        %b= t("edit")
      %li make corrections
      %li
        click
        %b= t("save")
%p
  If your PGN is rejected as invalid and you can't figure out why, please contact the webmaster.

= help_section :house_style

%p
  To maintain a consistent look to news items and games, bloggers are encouraged to:
%ul
  %li capitalize words in news item titles (except for "a", "the", "is", "at" etc)
  %li keep game titles short with template: "surname-surname, event or site, year, result"
  %li use ½ for draws and match scores (e.g. ½-½, 3½-2½)
