%h4= "Contents"

%ul
  %li= help_content :game_controls
  %li= help_content :book_search
  %li= help_content :get_login
  %li= help_content :create_news
  %li= help_content :create_game
  %li= help_content :house_style
  %li= help_content :todo

= help_section :game_controls

%ul
  %li
    make a move with the
    = t("game.controls.move")
    button or right-arrow-key
  %li
    undo one move with the
    = t("game.controls.undo")
    button or left-arrow-key
  %li
    go to the end with the
    = t("game.controls.end")
    button or e-key
  %li
    go to the start with the
    = t("game.controls.start")
    button or s-key
  %li
    flip the board with the
    = t("game.controls.flip")
    button or o-key
  %li
    go to any position by clicking in the list of moves

= help_section :book_search

%p
  The search controls are fairly self-explanatory with the exception of:
%ul
  %li
    %b= t("book.year")
    As well as specifying an exact publication year (e.g. "2019") it is also possible to
    specify ranges (e.g. "2000-2010"), or limits (e.g. ">2015" or "<=1996").
  %li
    %b= t("book.borrowers")
    If the word "ALL" is entered here, then instead of searching for specific book
    borrowers by name, this will match all borrowers (i.e. the result will be all
    borrowed books).

= help_section :get_login

%p
  To become a registered user of the site you need to acquire a username and password
  from the webmaster (whose contact details will be on the
  = t("contact.contacts")
  page). The different types of users are as follows:
%ul
  %li
    %b= t("user.roles.member")
    Can view the contact details of all players (whereas ordinary visitors to the
    site can only see the contact details of the principals - president, treasurer,
    team captains etc).
  %li
    %b= t("user.roles.blogger")
    Can create news items and edit those they have previously created themselves.
    Similarly for games.
  %li
    %b= t("user.roles.librarian")
    Manages the information we keep on our book collection.
  %li
    %b Administrator
    Manages everything else (players, contacts, users, images) and
    can modify anything the other users create.

= help_section :create_news

%ul
  %li= t("session.sign_in").downcase
  %li
    click
    %b= t("blog.blogs")
  %li
    click
    %b= t("blog.new")
  %li
    fill in
    %ul
      %li
        %b= t("blog.title")
        Keep this short and snappy.
      %li
        %b= t("blog.summary")
        Keep this fairly short. It's for the home page when the item is still recent.
      %li
        %b= t("blog.story")
        Optional. This is where you put the bulk of your news item unless it's very short.
      %li
        %b= t("blog.draft")
        Leave this checked to begin with to prevent the item being published before it's ready.
  %li
    if you need to make any corrections, then
    %ul
      %li
        click
        %b= t("edit")
      %li make corrections
      %li
        click
        %b= t("save")
  %li
    when your item is ready for publishing, then
    %ul
      %li
        click
        %b= t("edit")
      %li
        uncheck
        %b= t("blog.draft")
      %li
        click
        %b= t("save")
%p
  Note that the
  = t("blog.summary")
  and
  = t("blog.story")
  are written in
  = succeed(".") do
    = link_to "Markdown", "https://en.wikipedia.org/wiki/Markdown", target: "external"
  If there are any features you're unsure how to write (in practice, the only tricky
  things are tables), the easiest thing to do is see how someone else has done it.
  To view the raw Markdown of any other news item:
%ul
  %li
    click
    %b= t("blog.blogs")
  %li click on the title of the news item with the feature you're interested in
  %li
    click
    %b= t("blog.markdown")
    (this button is in the bottom left and you need to be signed in to use it)
%p
  To link to another blog, first find out it's ID number and then
  insert a link something like the following example:
%pre
  [this previous news item](/blogs/2)
%p
  Similarly, for a game, first find out its ID and then insert something like:
%pre
  [this great game](/games/3)

= help_section :create_game

%p
  For this you need to have a
  = link_to "PGN", "https://en.wikipedia.org/wiki/Portable_Game_Notation", target: "external"
  file of the game.
%ul
  %li= t("session.sign_in").downcase
  %li
    click
    %b= t("game.games")
  %li
    click
    %b= t("game.new")
  %li
    fill in
    %ul
      %li
        %b= t("game.title")
        You can leave this blank and let the system guess one from info in the PGN.
      %li
        %b= t("game.pgn")
        By copying and pasting your file.
      %li
        %b= t("game.difficulty")
        Only for problems and studies (PGN files with a non-initial
        = succeed(").") do
          = link_to "FEN", "https://en.wikipedia.org/wiki/Forsyth%E2%80%93Edwards_Notation", target: "external"
  %li
    if you need to make any corrections, then
    %ul
      %li
        click
        %b= t("edit")
      %li make corrections
      %li
        click
        %b= t("save")
%p
  Note that the system is quite strict about syntax and may reject your PGN as invalid.
  If this happens and you can't figure out why, please contact the webmaster.

= help_section :house_style

%p
  To maintain a consistent look to news items and games, bloggers are encouraged to
  keep in mind the following guidance:
%ul
  %li
    = t("blog.blogs")
    %ul
      %li keep blog summaries short
      %li use ½-½ for draws and not 0.5-0.5 or 1/2-1/2
      %li for match scores don't use decimals (e.g. prefer 3½-2½ to 3.5-2.5)
  %li
    = t("game.games")
    %ul
      %li use ½-½ and not 0.5-0.5 or 1/2-1/2 in titles (PGN is different, there you must use 1/2-1/2)

= help_section :todo

%p This site is under construction and there are some features still to implement.
%ul
  %li Create an image collection and allow images to be added to blogs.
  %li Allow a game to be included in a blog.
