.row
  %div{class: center(lg: 6, md: 8, sm: 10)}
    %section
      .header.text-center
        %h3.d-inline= t("misc.env")
      .body
        %table{class: "table table-bordered table-sm"}
          %tbody
            %tr
              %th= "Host"
              %td= @host
            %tr
              %th= "Env"
              %td= ENV["RAILS_ENV"]
            %tr
              %th= "Ruby"
              %td= "#{RUBY_VERSION}-p#{RUBY_PATCHLEVEL}"
            %tr
              %th= "Rails"
              %td= Rails::VERSION::STRING
            %tr
              %th= "Bundler"
              %td= ENV["BUNDLER_VERSION"]
            %tr
              %th= "Postgres"
              %td= @postgres_version
            %tr
              %th= "User"
              %td= ENV["USER"]
            %tr
              %th= "Shell"
              %td= ENV["SHELL"]
            %tr
              %th= "Pwd"
              %td= ENV["PWD"]
            %tr
              %th= "Gems"
              %td= ENV["GEM_HOME"]
            %tr
              %th= "Path"
              %td= ENV["PATH"].split(":")
