.row
  .offset-1.col-10.offset-md-2.col-md-8.offset-xl-3.col-xl-6
    %table{class: "table table-bordered table-striped table-sm"}
      %tbody
        %tr
          %th= "Host"
          %td= ENV["HOSTNAME"]
        %tr
          %th= "Ruby"
          %td= "#{RUBY_VERSION}-p#{RUBY_PATCHLEVEL}"
        %tr
          %th= "Gems"
          %td= ENV["GEM_HOME"]
        %tr
          %th= "Bundler"
          %td= ENV["BUNDLER_VERSION"]
        %tr
          %th= "Rails"
          %td= ENV["RAILS_ENV"]
        %tr
          %th= "Postgres"
          %td= ActiveRecord::Base.connection.execute('select version();').values[0][0] rescue "oops"
        %tr
          %th= "User"
          %td= ENV["USER"]
        %tr
          %th= "Shell"
          %td= ENV["SHELL"]
        %tr
          %th= "Pwd"
          %td= ENV["PWD"]
        %tr
          %th= "Path"
          %td= ENV["PATH"].split(":")
        %tr
          %th= "Keys"
          %td= ENV.keys
