:ruby
  inputs = [
    [:query,      t("query"),           :text_field, size: 16, value: params[:query]],
    [:difficulty, t("game.difficulty"), :select,     menu: game_difficulty_menu(params[:difficulty], search: true)],
  ]
  set_meta_tags title: t("game.games"), description: t("game.description"), keywords: t("game.keywords")

= content_for :javascript do
  = render "boards.js"

.row
  %div{class: center(xl: 6, lg: 8, md: 10, sm: 12)}
    %section
      .header
        %h3.d-inline= t("game.games")
        - if can?(:create, Game)
          .float-right.small= link_to t("game.new"), new_game_path, class: "btn btn-info"
      .body
        = render "utils/search/form", index: games_path, inputs: inputs, remote: false
        %table.table-bordered.mt-3.ml-auto.mr-auto
          %tbody
            - if @games.count == 0
              %tr
                %td.p-2= t("no_matches")
            - else
              = render "utils/pagination/links", pager: @games, columns: 1
              - @games.matches.each do |game|
                %tr
                  %td.p-2
                    = link_to title_and_difficulty(game), game
                    - if game.difficulty
                      %div.mt-2{id: "board_#{game.id}"}
