- set_meta_tags title: @game.title

.row
  %div{class: Sni::Center.call(xl: 6, lg: 8, md: 10, sm: 12),
    "data-controller"       => "game",
    "data-game-move-value"  => @move,
    "data-game-side-value"  => @game.orientation,
    "data-game-study-value" => @game.study? ? "true" : "false",
    "data-action"           => "keydown@window->game#keydown resize@window->game#resize"}
    %article
      .header.text-center
        %h5.d-inline= title_and_difficulty(@game)
      .body.pb-0
        .row
          %div{class: Sni::Center.call(sm: 8, xs: 10)}
            %div.mb-3{"data-game-target" => "board"}
            = render "controls"
      - if @game.study?
        .body.text-center{"data-game-target" => "study"}
          = link_to t("game.show_moves"), "#", class: "btn btn-dark btn-sm",
            "data-action" => "game#show:prevent"
      .body{"data-game-target" => "moves"}
        .moves= html_moves(@game)
      .footer
        = link_to t("game.games"), last_path(:games), class: "btn btn-success btn-sm"
        = link_to t("game.pgn"), "#", class: "btn btn-success btn-sm",
          "data-controller"      => "reveal",
          "data-reveal-id-value" => "pgn",
          "data-action"          => "reveal#toggle:prevent"
        - if can?(:edit, @game)
          = link_to t("edit"), edit_game_path(@game), class: "btn btn-primary btn-sm"
        .float-end.small.mt-1
          = render "utils/misc/user_stamp", object: @game, updated: false
    %pre#pgn{"data-game-target" => "pgn"}= @game.pgn
