- set_meta_tags title: @game.title

= content_for :javascript do
  = render "controls.js"

.row
  %div{class: center(xl: 6, lg: 8, md: 10, sm: 12)}
    %article
      .header.text-center
        %h5.d-inline= title_and_difficulty(@game)
      .body.pb-0
        .row
          %div{class: center(sm: 8, xs: 10)}
            #board.mb-3
            = render "controls.html.haml"
      - if @game.study?
        .body.text-center
          = link_to t("game.show_moves"), "#", id: "show_moves", class: "btn btn-dark btn-sm"
      .body#moves
        .moves= @game.moves
      .footer
        = link_to t("game.games"), last_path(:games), class: "btn btn-success btn-sm"
        = link_to t("game.pgn"), "#", id: "toggle_pgn", class: "btn btn-success btn-sm"
        - if can?(:edit, @game)
          = link_to t("edit"), edit_game_path(@game), class: "btn btn-info btn-sm"
        .float-right.small.mt-1
          = render "utils/misc/user_stamp", object: @game, updated: false

    %pre.pgn= @game.pgn
