:ruby
  lo = Layout.new({ xs: [[3,3,3], [3,3,3]], md: [2,2,2,2,2,2] }).to_a
  inputs = [
    [:query,     t("query"),          :text,   lo[0], size: 16, placeholder: %w/title author note/.map{|i| t("book.#{i}")}.join("/")],
    [:year,      t("book.year"),      :text,   lo[1], size: 6],
    [:borrowers, t("book.borrowers"), :text,   lo[2], size: 10],
    [:category,  t("book.category"),  :select, lo[3], menu: book_category_menu(params[:category], search: true)],
    [:medium,    t("book.medium"),    :select, lo[4], menu: book_medium_menu(params[:medium], search: true)],
    [:order,     t("order"),          :select, lo[5], menu: book_order_menu(params[:order])],
  ]
  set_meta_tags title: t("book.books"), description: t("book.description"), keywords: t("book.keywords")

%section
  .header{class: "#{can?(:create, Book) ? '' : 'text-center'}"}
    %h3.d-inline= t("book.books")
    - if can?(:create, Book)
      .float-end.mt-1= link_to t("book.new"), new_book_path, class: "btn btn-primary btn-sm"
  .body
    = render "utils/search/form", index: books_path, inputs: inputs, button: true
    %table{class: "table table-bordered table-striped table-sm mt-3"}
      %thead
        %tr
          %th= t("book.title")
          %th.d-none.d-md-table-cell= t("book.author")
          %th.d-none.d-sm-table-cell= t("book.category")
          %th.d-none.d-sm-table-cell= t("book.medium")
          %th.text-center= t("book.year")
          %th.d-none.d-lg-table-cell= t("book.borrowers")
      %tbody#results
        = render "results", books: @books
