:ruby
  inputs = [
    [:query,     t("query"),          :text_field, size: 16, value: params[:query], placeholder: %w/title author note/.map{|i| t("book.#{i}")}.join("/")],
    [:year,      t("book.year"),      :text_field, size: 6,  value: params[:year]],
    [:borrowers, t("book.borrowers"), :text_field, size: 10, value: params[:borrowers]],
    [:category,  t("book.category"),  :select,     menu: book_category_menu(params[:category], search: true)],
    [:medium,    t("book.medium"),    :select,     menu: book_medium_menu(params[:medium], search: true)],
    [:order,     t("order"),          :select,     menu: book_order_menu(params[:order])],
  ]
  set_meta_tags title: t("book.books"), description: t("book.description"), keywords: t("book.keywords")

%section
  .header.text-center
    %h3.d-inline= t("book.books")
  .body
    = render "utils/search/form", index: books_path, inputs: inputs
    %table{class: "table table-bordered table-striped table-sm mt-3"}
      %thead
        %tr
          %th= t("book.title")
          %th.d-none.d-md-table-cell= t("book.author")
          %th.d-none.d-sm-table-cell= t("book.category")
          %th.d-none.d-sm-table-cell= t("book.medium")
          %th.text-center= t("book.year")
          %th.d-none.d-lg-table-cell= t("book.borrowers")
      %tbody#results
        = render "results", books: @books
  - if can?(:create, Book)
    .footer
      = link_to t("book.new"), new_book_path, class: "btn btn-info btn-sm"
