- defined?(remote) || remote = true

= form_tag index, method: :get, remote: remote, class: "form-inline justify-content-center mt-3" do
  - inputs.each do | param, label, type, options |
    = label_tag param, label, class: "sr-only"
    = render "utils/search/#{type}", {param: param, label: label}.merge(options || {})
  = button_tag t("search"), type: "submit", class: "btn btn-success mb-1"
