- defined?(remote) || remote = true
- defined?(button) || button = nil
-# see:
-# https://www.tjvantoll.com/2013/01/01/enter-should-submit-forms-stop-messing-with-that/
-# https://stackoverflow.com/questions/27807853/html5-how-to-make-a-form-submit-after-pressing-enter-at-any-of-the-text-inputs

= form_tag index, method: :get, remote: remote, class: "row g-3" do
  - inputs.each do | param, label, type, cols, options |
    %div{class: col(cols)}
      = label_tag param, label, class: "visually-hidden"
      = render "utils/search/#{type}", { param: param, label: label }.merge(options || {})
  - if button
    %div{class: col(button)}
      = button_tag t("search"), type: "submit", class: "btn btn-success"
  - else
    -# to ensure forms with more than one text input submit when the enter key is pressed
    = button_tag "x", type: "submit", class: "visually-hidden btn-sm"
