%section
  .header
    %h3= t("contact.contacts")
  .body
    %table{class: "table table-bordered table-striped table-sm mt-3"}
      %thead
        %tr
          %th= t("player.name")
          %th= t("player.email")
          %th= t("player.phone")
          %th.d-none.d-md-table-cell= t("contact.position")
      %tbody
        - players.each do |player|
          %tr
            %td= player.name
            %td= encrypted_mail_to(player.email)
            %td= player.phone
            %td.d-none.d-md-table-cell= player_roles(player.principle_roles)
