:ruby
  lo = Sni::Layout.call({xl: [2,2], lg: [3,3], md: [4,4], sm: [5,5], xs: [6,6]})
  inputs = [
    [:name,  t("player.name"),  :text,   lo[0], size: 10],
    [:role,  t("player.roles"), :select, lo[1], menu: player_role_menu(params[:role], search: true)],
  ]
  set_meta_tags title: t("player.contact.contacts"), description: t("player.contact.description"), keywords: t("player.contact.keywords")

%section
  .header{class: "#{can?(:create, Player) ? '' : 'text-center'}"}
    %h3.d-inline= t("player.contact.contacts")
    - if can?(:create, Player)
      .float-end.mt-1= link_to t("player.new"), new_player_path, class: "btn btn-primary btn-sm"
  .body
    - unless current_user.guest?
      = render "utils/search/form", index: contacts_players_path, inputs: inputs
    = turbo_frame_tag :results, "data-turbo-action" => "advance" do
      %table{class: "table table-bordered table-sm mt-3"}
        %thead
          %tr
            %th= t("player.name")
            %th= t("player.email")
            %th.d-none.d-sm-table-cell= t("player.phone")
            %th.d-none.d-md-table-cell
              - if current_user.guest?
                = t("player.contact.position")
              - else
                = t("player.roles.roles")
        %tbody
          - @players.each do |player|
            %tr
              %td= link_to_if !current_user.guest?, player.name, player, "data-turbo-frame" => "_top"
              %td= mail_to(player.email)
              %td.d-none.d-sm-table-cell= player.phone
              %td.d-none.d-md-table-cell
                - if current_user.guest?
                  = player_roles(player.principle_roles)
                - else
                  = player_roles(player.roles).truncate(50)
