:ruby
  inputs = [
    [:name,  t("player.name"),  :text_field, size: 10, value: params[:name]],
    [:role,  t("player.roles"), :select,     menu: player_role_menu(params[:role], search: true)],
    [:order, t("order"),        :select,     menu: player_order_menu(params[:order])],
  ]
  set_meta_tags title: t("player.players"), description: t("player.description"), keywords: t("player.keywords")

%section
  .header.text-center
    %h3.d-inline= t("player.players")
  .body
    = render "utils/search/form", index: players_path, inputs: inputs
    %table{class: "table table-bordered table-striped table-sm mt-3"}
      %thead
        %tr
          %th= t("player.name")
          %th.text-center{colspan: 2}= t("player.ratings")
          %th.text-center= t("player.fed")
          %th.d-none.d-md-table-cell= t("player.roles.roles")
      %tbody#results
        = render "results", players: @players
  - if can?(:create, Player)
    .footer
      = link_to t("player.new"), new_player_path, class: "btn btn-info btn-sm"
