:ruby
  lo = Layout.new({xl: [2,2,2], lg: [3,3,3], md: [4,4,4], sm: [[5,5],[4]], xs: [[6,6],[4]]}).to_a
  inputs = [
    [:name,  t("player.name"),  :text,   lo[0], size: 10],
    [:role,  t("player.roles"), :select, lo[1], menu: player_role_menu(params[:role], search: true)],
    [:order, t("order"),        :select, lo[2], menu: player_order_menu(params[:order])],
  ]
  set_meta_tags title: t("player.players"), description: t("player.description"), keywords: t("player.keywords")

%section
  .header{class: "#{can?(:create, Player) ? '' : 'text-center'}"}
    %h3.d-inline= t("player.players")
    - if can?(:create, Player)
      .float-end.mt-1= link_to t("player.new"), new_player_path, class: "btn btn-primary btn-sm"
  .body
    = render "utils/search/form", index: players_path, inputs: inputs
    = turbo_frame_tag :results, "data-turbo-action" => "advance" do
      %table{class: "table table-bordered table-striped table-sm mt-3"}
        %thead
          %tr
            %th= t("player.name")
            %th.text-center{colspan: 2}= t("player.ratings")
            %th.text-center= t("player.fed")
            %th.d-none.d-md-table-cell= t("player.roles.roles")
        %tbody
          = render "results", players: @players
