- set_meta_tags title: t("player.players"), description: t("player.description"), keywords: t("player.keywords")

%section
  .header
    %h3.d-inline= t("player.players")
    - if can?(:create, Player)
      .float-right= link_to t("player.new"), new_player_path, class: "btn btn-info"
  .body
    = form_tag players_path, method: :get, remote: true, class: "form-inline justify-content-center mt-3" do
      = label_tag :name, t("player.name"), class: "sr-only"
      = text_field_tag :name, params[:name], class: "form-control mr-1 mb-1", placeholder: t("player.name"), size: 10
      = label_tag :role, t("player.roles"), class: "sr-only"
      = select_tag :role, player_role_menu(params[:role]), class: "form-control mr-1 mb-1 auto-submit"
      = button_tag t("search"), type: "submit", class: "btn btn-success mb-1"
    %table{class: "table table-bordered table-striped table-sm mt-3"}
      %thead
        %tr
          %th= t("player.name")
          %th= t("player.sca_rating")
          %th= t("player.fide_rating")
          %th.d-none.d-md-table-cell= t("player.roles.roles")
      %tbody#results
        = render "results", players: @players
