:ruby
  set_meta_tags title: t("journal.journal")
  lo = Layout.new({xs: [6,4], md: [4,2]}).to_a
  inputs = [
    [:query,  t("query"),       :text,   lo[0]],
    [:handle, t("user.handle"), :select, lo[1], menu: handle_menu(params[:handle])],
  ]

.row
  %div{class: center(xl: 8, lg: 10, md: 12)}
    %section
      .header.text-center
        %h3.d-inline= t("journal.journal")
      .body
        = render "utils/search/form", index: journals_path, inputs: inputs
        = turbo_frame_tag :results, "data-turbo-action" => "advance" do
          %table{class: "table table-bordered table-striped table-sm mt-3"}
            %thead
              %tr
                %th= t("journal.handle")
                %th.d-none.d-sm-table-cell= t("journal.remote_ip")
                %th= t("journal.resource")
                %th.text-center= t("journal.resource_id")
                %th= t("journal.action")
                %th= t("created")
            %tbody
              = render "results", journals: @journals
