%nav
  = link_to root_path do
    = t("brand.wd")
    %span= t("brand.cc")
  %button{type: "button", "data-toggle" => "collapse", "data-target" => "#navbar"}
    %span
  #navbar.collapse.navbar-collapse
    %ul.left
      %li
        = link_to t("blog.blogs"), blogs_path
      %li
        = link_to t("player.players"), players_path
      %li
        = link_to t("contact.contacts"), contacts_path
      - if can?(:read, Game)
        %li
          = link_to t("game.games"), games_path
      %li.dropdown
        = link_to t("history"), "#", class: "dropdown-toggle", id: "history-dropdown", "data-toggle" => "dropdown"
        .dropdown-menu
          = render "blogs/blog_link", tag: "early_history"
          = render "blogs/blog_link", tag: "club_championships"
          = render "blogs/blog_link", tag: "team_titles"
    %ul.right
      - if can?(:index, User)
        %li
          = link_to t("user.users"), users_path
      - unless controller_name == "sessions"
        %li
          - if current_user.guest?
            = link_to t("session.sign_in"), signin_path
          - else
            = link_to t("session.sign_out"), session_path, method: "delete"
