%nav
  = link_to root_path do
    = t("brand.wd")
    %span= t("brand.cc")
  %button{type: "button", "data-toggle" => "collapse", "data-target" => "#navbar"}
    %span
  #navbar.collapse.navbar-collapse
    %ul.left
      %li
        = link_to t("blog.blogs"), blogs_path
      - if early_history = Blog.find_by(tag: "early_history", draft: false)
        %li
          = link_to t("history"), early_history
    %ul.right
      - if can?(:index, User)
        %li
          = link_to t("user.users"), users_path
      - unless controller_name == "sessions"
        %li
          - if current_user.guest?
            = link_to t("session.sign_in"), signin_path
          - else
            = link_to t("session.sign_out"), session_path, method: "delete"
