%nav
  = link_to root_path, class: "navbar-brand" do
    = image_tag("logo.jpg", width: 30, height: 30, alt: t("site"))
  %button{type: "button", "data-toggle" => "collapse", "data-target" => "#navbar"}
    %span
  #navbar.collapse.navbar-collapse
    %ul
      %li
        = link_to t("blog.blogs"), blogs_path
      %li
        = link_to t("user.users"), users_path
    %ul.right
      - unless skip_sign_in?
        %li
          - if current_user.guest?
            = link_to t("session.sign_in"), signin_path
          - else
            = link_to t("session.sign_out"), session_path, method: "delete"
